<div class="container-fluid">
  <div class="col-md-offset-1">
    <h1>
      Welcome to Organizer!
    </h1>
  </div>

  <nav>
      <a style="margin-left: 10px" routerLink="api/users">Home</a>
      <a style="margin-left: 10px" routerLink="/api/users">List Users</a>
      <a style="margin-left: 10px" routerLink="api/auth/signup">Add User</a>
      <a style="margin-left: 10px" routerLink="api/auth/login">Login</a>
      <a style="margin-left: 10px" routerLink="api/user/me">My Profile</a>
  </nav>
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <!-- <span><img src="../downloads/PantherLogo.jpeg"></span> -->
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
    
        <button mat-button>About</button>
        <button mat-button>Contact</button>
      </mat-toolbar-row>
    </mat-toolbar>
  
  <!-- <br/> -->
  <router-outlet></router-outlet>
</div>

